<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-
  width, initial-scale=1.0">
  <title>Shakespeare Line Finder</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='viewplay.css') }}">
 
</head>


<body class="all">



<div class="main">
  <p class="title">{{title}}</p>
    <pre class="pre">{{content | safe}}</pre>
</div>


<script>
  window.onload = function() {
      const element = document.getElementById('highlighted-line');
      if (element) {
          element.scrollIntoView({ behavior: 'smooth', block: 'center' });
      }
  };
</script>



</body>
</html>